# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. R
2. Python
3. SQL

|Data Science Tools|
|---------------|
|Jupyter Notebook|
|R studio|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
x = 200
y = 200/60
print(y)

3.3333333333333335

**Objectives:**
- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share Jupyter Notebook publicly on GitHub
- Demonstrate proficiency in Data Science toolkit knowledge

## Author 
Oduola Abdulhamid Teniola